<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>204032333820-8svlnvtdure7m6pkrnmmoanqp2f48vog.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.204032333820-8svlnvtdure7m6pkrnmmoanqp2f48vog</string>
	<key>API_KEY</key>
	<string>AIzaSyCoCUppIVc_sRNbr0-1b_kVrZUoK_w2dKE</string>
	<key>GCM_SENDER_ID</key>
	<string>204032333820</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.canny.projectCanny</string>
	<key>PROJECT_ID</key>
	<string>canny-1088f</string>
	<key>STORAGE_BUCKET</key>
	<string>canny-1088f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:204032333820:ios:6d0a1f8e87e9d151040479</string>
</dict>
</plist>